* {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    color: #161616;
}

p {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    color: #2a4f4c;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2a4f4c;
    --bs-btn-border-color: #2a4f4c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #86a9a3;
    --bs-btn-hover-border-color: #86a9a3;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #86a9a3;
    --bs-btn-active-border-color: #86a9a3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #717171;
    --bs-btn-disabled-bg: #c5c5c5;
    --bs-btn-disabled-border-color: #c5c5c5;
}

/* Navbar styling */
.logo {
    width: 42px;;
}

.navbar {
    padding: 24px 5%;
}

/* Breadcrumb styling */
.breadcrumb-container {
    margin: 24px 5%;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #161616;
}

.breadcrumb-item a:hover {
    color:#86a9a3;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #86a9a3;
}

/* Project summary section */

.project-summary {
    margin: 48px 0;
}
.summary {
    column-gap: 48px;
}

.container {
    margin-left: 5%;
    padding-left: 0;
}

.top-image {
    max-width: 1024px;
    margin: 24px 5% 48px 5%;
}

.top-image img {
    max-width: 100%;
}

/* Scrollspy styling */
.process-row {
    margin: 24px 5%;
}

.indexTab div {
    position: sticky;
    top: 0;
}

#list-example a {
    border: none;
    border-radius: 0%;
  }

#list-example a {
    border: none;
    border-radius: 0%;
}

.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
}
.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
.list-group-item-action {
    width: 100%;
    color: var(--bs-list-group-action-color);
    text-align: inherit;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
* {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    color: #161616;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.list-group {
    --bs-list-group-color: #161616;
    --bs-list-group-bg: #fff;
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: #717171;
    --bs-list-group-action-hover-color: white;
    --bs-list-group-action-hover-bg: #C5C5C5;
    --bs-list-group-action-active-color: white;
    --bs-list-group-action-active-bg: #717171;
    --bs-list-group-disabled-color: #717171;
    --bs-list-group-disabled-bg: #c5c5c5;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #2a4f4c;
    --bs-list-group-active-border-color: #2a4f4c;
}

/* Button styling */
.btn {
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Pagination styling */
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #2a4f4c;
    --bs-pagination-active-border-color: #2a4f4c;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0px;
    list-style: none;
}

ul.pagination {
    --bs-link-color: #2a4f4c;
    --bs-link-hover-color: #86a9a3;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(42, 79, 76, 0.3);
}

a.page-link {
    color: #2a4f4c;
}

/* Footer styling */
footer p {
    font-family: 'Albert Sans';
    font-size: 14px;
    color: #161616;
}

.Fnav-item a {
    font-size: 14px;
    color: #161616;
}

/* Case study content */
.title-top {
    margin-top: 56px;
}
.img-holder {
    width: 100%;
}

.img-holder img {
    width: 100%;
    height: 100%;
}

.F-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 56px;
    padding: 24px;
}

