/* Navbar styling */
.logo {
    width: 42px;;
}

.navbar {
    padding: 24px 5%;
}

/* Breadcrumb styling */
.breadcrumb-container {
    padding: 24px 5%;
}

.placeholder {
    width: 80%;
    height: 400px;
    margin: 24px 5%;
}

/* Scrollspy styling */
.process-row {
    margin: 24px 5%;
}

.indexTab {
    margin-right: 24px;
}

/* Button styling */
.btn {
    margin-top: 24px;
    margin-bottom: 24px;

/* Pagination styling */
.pagination {

    
}